* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.section_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.inner_section {
  display: flex;
  width: 100%;
  max-width: 1200px;
  gap: 30px;
}

.left_section {
  flex: 0 0 40%; 
}

.left_section img {
  width: 100%;
  height: 95vh;
  object-fit: cover;
}

.right_section {
  flex: 0 0 60%;
}

.right_head {
  padding-top: 40px;
}
.right_head h2 {
  font-size: 5rem;
  margin-bottom: 20px;
  color: #292c63;
}
.dots {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #f99d16;
}

.right_content {
  display: flex;
  gap: 20px;
  align-items: stretch;
}

.image_holder {
  position: relative;
  overflow: hidden;
}

.image_holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0% 100%); */
}

.right_subpara {
  max-width: 60%;
  padding: 0px 20px;
}

.right_subpara p {
  line-height: 1.6;
}

.arrow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* gap: 20px; */
  width: 100%;
  background: white;
  position: relative;
  margin-top: 70px;
  left: -100px;
  height: 100px;
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid gray;
  padding: 5px;
  border-radius: 4px; /* Slight rounding to give a boxy look */
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.icon i {
  color: gray;
}

.icon:hover {
  background-color: lightgray; /* Hover effect */
}

.bar_area {
  margin-top: 2rem;
  display: flex;
  justify-content: center;align-items: center;
  gap: 20px;
}

.bar_area>span{
  font-size: 24px;
}

.bar {
  min-width: 200px;
  height: 3px;
  width: 0;
  transition: width 0.5s ease;
}

/* Bar is half orange (50% orange, 50% another color) */
.bar.half-orange {
  background: linear-gradient(to right, #f99d16 50%, #ccc 50%);
  width: 100%; /* Adjust width as needed */
}

/* Bar is fully orange */
.bar.full-orange {
  background-color: #f99d16;
  width: 100%; /* Adjust width as needed */
}

@media (max-width: 768px) {
  .inner_section {
    flex-direction: column;
  }

  .arrow {
 
    left: 0px;
    /* height: 100px; */
  }

  .left_section,
  .right_section {
    flex: 1 1 100%;
  }

  .right_head > h2{
    font-size: 2rem;
  }
  .right_content {
    flex-direction: column;
  }

  .right_subpara {
    max-width: 100%;
  }
}
